body {
  background-color: #0b0c10;
}

a,body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #66fcf1;
}

#questinos{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

li {
  padding: .5rem 1rem;
  margin: .5rem 1rem;
  background-color: #1f2833;
  border-radius: 10px;
  border: 1px solid #45a29e;
}

li > a {
  color: #c5c6c7;
  text-decoration: none;
}